<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>EDURALALIN</title>
  </head>

  <body class="bg-[#E2E2E2]">
    <div class="bg-[#007FD3] text-center text-white py-3">
      <h1 class="text-2xl font-bold">EDURALALIN</h1>
      <p>Edukasi Rambu Lalu Lintas</p>
    </div>
    <div class="flex justify-between flex-col h-full">
      <div class="">
        <div class="grid grid-cols-12 p-3 bg-white rounded-2xl m-5 gap-3">
          <p class="col-span-9">
            Eduralalin merupakan singkatan dari Edukasi Rambu Lalu Lintas. Rambu Lalu Lintas adalah bagian perlengkapan jalan yang berupa lambang, huruf, angka, kalimat, dan/atau perpaduan yang berfungsi sebagai peringatan, larangan,
            perintah, atau petunjuk bagi pengguna jalan.
          </p>
          <div class="col-span-3 grid">
            <img src="D:\MSIB Final Project\Eduralalin\static\images\lampu.png" alt="" class="place-self-start self-center" />
            <img src="D:\MSIB Final Project\Eduralalin\static\images\parkir.png" alt="" class="place-self-end self-center" />
            <img src="D:\MSIB Final Project\Eduralalin\static\images\putar.png" alt="" class="place-self-start self-center" />
          </div>
        </div>
      </div>
      <div class="">
        <div class="bg-[#007FD3] text-center text-white py-3">
          <h1 class="text-lg font-bold">Cari pengertian Rambu Lalu Lintas</h1>
        </div>
        <div class="flex justify-evenly mt-10">
          <a href="page2.html" class="p-2 bg-[#7C7C7C] text-white rounded-xl block shadow-lg shadow-[#7C7C7C] w-36 text-center">Masukan Gambar</a>
          <a href="page3.html" class="p-2 bg-[#7C7C7C] text-white rounded-xl block shadow-lg shadow-[#7C7C7C] w-36 text-center">Kamera</a>
        </div>
      </div>
    </div>
  </body>
</html>
